@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

.container{
    /* background:linear-gradient(45deg,#48b1bf, #06beb6); */
    background:linear-gradient(45deg,#a07bca, #19b9a1);
    /* background:linear-gradient(45deg,#43cea2, #185a9d); */
    padding:15px 9%;
    padding-bottom: 100px;
}   

.container .heading{
    text-align: center;
    /* padding-bottom: 15px; */
    color:#ffffff;
    text-shadow: 0 5px 5px rgba(0,0,0,.2);
    font-size: 50px;
}
.container .heading2{
    text-align: center;
    padding-bottom: 15px;
    color:#000000;
    text-shadow: 0 5px 5px rgba(0,0,0,.2);
    font-size: 25px;
}

.container .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(301px, 1fr));
    gap:15px;
}

.container .box-container .box{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding:30px 20px;
}

.container .box-container .box img{
    height: 80px;
}

.container .box-container .box h3{
    color:#444;
    font-size: 22px;
    padding:10px 0;
}

.container .box-container .box p{
    color:#777;
    font-size: 15px;
    line-height: 1.8;
}

.container .box-container .box .btn{
    margin-top: 10px;
    display: inline-block;
    background:#333;
    color:#fff;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
}

.container .box-container .box .btn:hover{
    letter-spacing: 1px;
}

.container .box-container .box:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.03);
}

.btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px 0px 10px;
    background: rgb(0, 0, 0);
    margin-left: 5px;
    color: #00eeff;
    border-radius: 0.8rem;
}


hr{
    margin-bottom: 36px;
    border-radius: 20px;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 9%;
    background: rgb(26, 31, 41);
    color: aliceblue;
}

.footer-icon a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background: aqua;
    border-radius: 0.8rem;
}

.footer-icon a:hover{
    box-shadow: 0 0 1rem aqua;
}

.footer-icon a i{
    font-size: 2rem;
    color: rgb(26, 31, 41);

}

.mail{
    padding: 3px 0px 3px 20px;
}

@media (max-width:768px){
    .container{ 
        padding:20px;
    }
}
